* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.outerbox {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, red, blue);
}

.innerbox {
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px 40px;
    /* background-color: #ffffff09; */
    background: linear-gradient(to top left, #ffffff, #ffffff33);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    border: 2px #cccc;
    box-shadow: 2px 5px rgb(137, 137, 255);
    z-index: 1;
}

.signup h1 {
    font-size: 2.5rem;
    color: black;
}

.signup-body {
    margin: 20px 0;
}

.signup-body p {
    margin: 10px 0;
} 

.signup-body p label {
    display: block;
    font-weight: 600;
}

.signup-body p input {
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1rem;
    margin-top: 4px;
}

.signup-body p input[type = "submit"] {
    background-color: rgb(166, 213, 247);
    border: none;
    color: black;
    cursor: pointer;
    font-weight: 600;
}

.signup-body p input[type = "submit"]:hover {
    background-color: rgb(120, 196, 250);
}

.signup-footer p{
    column-rule: #555;
    text-align: center;
}

.signup-footer p a {
    color: rgb(75, 54, 233);
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient( to top right, #ffffff33, #ffffff);
    position: absolute;
}

.c1 {
    top: 100px;
    left: 40px;
}

.c2 {
    bottom: 200px;
    right: 50px;
}